/* .swiper {
    width: 100%;
    height: 100%;
} */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    position: none;
}

.mySwiper .swiper-wrapper {
    position: none; /* Or use none/unset */
  }
  
  .mySwiper .swiper-slide {
    position: none;
  }
  
.bgImgSlider{
    background-image: url('https://i.ibb.co.com/fD8gcXg/bg-slider3-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: bottom right;
}