.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
  }
  
  .navigation-wrapper {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
  }
  
  .number-slide {
    flex: 0 0 100%;
  }
  